<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Easycount</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats number="25" comments="Nuevos comentarios!" colour="white" type="comments"></stats>
        <stats number="186" comments="Nuevas valoraciones!" colour="white" type="user"></stats>
        <stats number="14" comments="Nuevos pagos!" colour="white" type="shopping-cart"></stats>
        <stats number="2465" comments="Nuevos productos!" colour="white" type="reddit"></stats>

    </div>
    
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Timeline
                </div>
                <!-- /.panel-heading -->
                <timeline></timeline>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <!--<div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>

                <notifications></notifications> 

            </div>


            <chat></chat>

        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
