<div class="row">
    <div class="col-lg-12 page-header text-center">
        <h1 class="uppercase"><strong>Establecimientos</strong></h1>
        <i>Consulta todos tus establecimientos</i>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" ui-sref="dashboard.nuevoEstablecimiento" class="btn btn-easy">Nuevo establecimiento</button>
            </div>
            <div class="panel-body">
                <table class="tablesaw tablesaw-stack table" data-tablesaw-mode="stack" id="dataTables-establecimiento">
                    <thead>
                    <tr id="cabeceraTabla">
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Nombre</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3" style="text-align:center;">Coordenadas</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Ciudad</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Comunidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="contentTabla" ng-repeat="establecimiento in vm.establecimientos">
                        <td style="text-align:center;"><b class="tablesaw-cell-label">Nombre</b><span class="tablesaw-cell-content">{{establecimiento.nombre}}</span></td>
                        <td style="text-align:center;"><b class="tablesaw-cell-label">Coordenadas</b><span class="tablesaw-cell-content">{{establecimiento.coordenadas}}</span></td>
                        <td style="text-align:center;"><b class="tablesaw-cell-label">Ciudad</b><span class="tablesaw-cell-content">{{establecimiento.ciudad}}</span></td>
                        <td style="text-align:center;"><b class="tablesaw-cell-label">Comunidad</b><span class="tablesaw-cell-content">{{establecimiento.comunidad}}</span></td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="vm.numPags>1" id="navegacionPags">
                    <span ng-click="vm.cambiarPaginacion(vm.paginacionActual-1)"> << </span>
                    <span ng-if="i==1 || i==vm.navegacion.length-1 || (i>vm.paginacionActual-2&&i<vm.paginacionActual+2)" ng-class="i==vm.paginacionActual ? 'navegacionMarcado':''" ng-click="vm.cambiarPaginacion(i)" ng-repeat="i in vm.navegacion"> <span class="puntosDer" ng-if="i==vm.navegacion.length-1 && vm.paginacionActual<vm.numPags-3">...</span>{{i}}<span class="puntosIzd" ng-if="i==1 && vm.paginacionActual>3">...</span> </span>
                    <span ng-click="vm.cambiarPaginacion(vm.paginacionActual+1)"> >> </span>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.ro