
<div class="row ">
    <div class="col-lg-12 page-header text-center">
        <h1 class="uppercase"><strong>Importa tu catálogo</strong></h1>
        <i>Añade todos tus productos a nuestra base de datos.</i>
    </div>
    <div id="importacion"class="col-md-12 col-sm-12">
        <div class="tab-content container">
            <fieldset style="margin-bottom: 20px;">
                <label>Introduce el nombre de la etiqueta contenedor del los productos &nbsp; </label><input type="text" id="contenedor" />
                <input type = "file" file-model = "myFile"/>
                <button class="btn btn-easy" ng-click = "uploadFile()"><i class="fa fa-upload"></i> &nbsp;  Upload me  </button>
            </fieldset>
        </div>

        <div id="selectores">

        </div>
    </div>
</div>