<div class="row">
    <div class="col-lg-12 page-header text-center">
        <h1 class="uppercase">Valoraciones y opiniones</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row panel panel-default">
    <div class="col-lg-12 col-sm-12 panel-heading contPestanyas">
        <button id="valTipo" class="btn btn-easy-invert" ng-click="vm.cargarEstadisticas(0)">Valoraciones y opiniones</button>
    </div>

    <!--************************************** PESTAÑA 1: VALORACIÓN DE TIPOS DE PRODUCTOS ***********************************-->
    <div ng-if="vm.estadisticas==0">
        <div class="col-lg-6 col-sm-12" ng-if="vm.valoraciones.length<=0">No hay datos de esta categoría</div>
        <div class="col-lg-6 col-sm-12" ng-if="vm.valoraciones.length>0">
            <div class="panel-body col-lg-12 col-sm-12">
                <div class="dataTable_wrapper">
                    <table class="tablesaw tablesaw-stack table" id="dataTables-val">
                        <thead>
                        <tr id="cabeceraTabla" class="cabeceraTabla">
                            <th>Mes</th>
                            <th>Valoraciones</th>
                            <th>Opiniones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="contentTabla" class="contentTabla" ng-repeat="val in vm.objetoValoraciones | orderBy:'valMedTipo':true">
                            <td><b class="tablesaw-cell-label">MES</b><span class="tablesaw-cell-content">{{val.fecha}}</span></td>
                            <td><b class="tablesaw-cell-label">VALORACIONES</b><span class="tablesaw-cell-content">{{val.num}}</span></td>
                            <td><b class="tablesaw-cell-label">OPINIONES</b>{{val.numFallidas}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 valoracionMediaProd" id="line-chart">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Valoraciones y opiniones</strong></div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line chart-xl" data="line.data" labels="line.labels" legend="true"
                            click="line.onClick" colours="line.colours" series="line.series"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>