<nav >
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">EasyCount</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#">INICIO</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">CONTACTO</a>
                </li>
                <li>
                    <a class="page-scroll" href="#" ng-click="vm.loginPage()">INICIAR SESION</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">DESCARGAS</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>








<!--<nav class="navbar navbar-default" >-->
    <!--<div class="container-fluid" height="90px">-->
        <!--<div class="navbar-header">-->
            <!--<button ng-click="vm.pushDown()" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"-->
                    <!--aria-expanded="false">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="/">-->
                <!--<img alt="logo EasyCount" src="./images/easycountlogo.png" height="70px">-->
            <!--</a>-->
            <!--<span class="titulo navbar-brand">EasyCount</span>-->
        <!--</div> &lt;!&ndash; navbar-header &ndash;&gt;-->
        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
            <!--<ul class="nav navbar-nav navbar-right vertical-center">-->
                <!--&lt;!&ndash;<li><a href="quienessomos.html">Quienes somos</a></li>-->
                <!--<li><a href="contacto.html">Contacto</a></li>-->
                <!--<li><a href="login.html">Iniciar sesión</a></li>&ndash;&gt;-->
                <!--<li><button type="button" class="btn btn-primary" ng-click="vm.quienesPage()">Quiénes somos</button></li>-->
                <!--<li><button type="button" class="btn btn-primary" ng-click="vm.contactoPage()">Contacto</button></li>-->
                <!--<li><button type="button" class="btn btn-primary btn-lg" ng-click="vm.loginPage()">Iniciar sesión</button></li>-->
                <!--<li><button style="background-color: #4FB7DC;" type="button" class="btn btn-primary" ng-click="vm.descargaManual()"><i class="fa fa-question"></i></button></li>-->
            <!--</ul> &lt;!&ndash; ul navbar-right &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div> &lt;!&ndash; container-fluid &ndash;&gt;-->
<!--</nav>-->